*{
    margin: 0;
}

#main {
    height: 25600px;
    width: 25600px;
    color: white;
    display:block;    
}

#main > div{
    height: 97px;
    width: 97px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color:white;
}